@media(min-width: 1201px) {
  body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial;
    }

    .title{
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon{
      height: 50px;

    }

    .move-button{
      background-color: transparent;
      border: 3px solid white;
      width: 120px;
      height: 120px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score{
      margin-top: 60px;
    }

    .reset-score-button,
    .auto-play-button {
      background-color: white;
      border: none;
      font-size: 15px;
      padding: 8px 15px;
      cursor: pointer;
    }
}
 
@media(min-width: 1025px) and (max-width: 1200px) {

}

@media(min-width: 769px) and (max-width: 1024px) {
  
}

@media(min-width: 600px) and (max-width: 1768px) {
  body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial;
    }

    .title{
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon{
      height: 50px;

    }

    .move-button{
      background-color: transparent;
      border: 3px solid white;
      width: 110px;
      height: 110px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score{
      margin-top: 60px;
    }

    .reset-score-button,
    .auto-play-button {
      background-color: white;
      border: none;
      font-size: 15px;
      padding: 8px 15px;
      cursor: pointer;
    }
}

@media(min-width: 481px) and (max-width: 599px) {
  body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial;
    }

    .title{
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon{
      height: 50px;

    }

    .move-button{
      background-color: transparent;
      border: 3px solid white;
      width: 110px;
      height: 110px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score{
      margin-top: 60px;
    }

    .reset-score-button,
    .auto-play-button {
      background-color: white;
      border: none;
      font-size: 15px;
      padding: 8px 15px;
      cursor: pointer;
    }
}

@media(min-width: 320px) and (max-width: 480px) {
   body{
      background-color: rgb(25, 25, 25);
      color: white;
      font-family: Arial;
    }

    .title{
      font-size: 30px;
      font-weight: bold;
    }

    .move-icon{
      height: 50px;

    }

    .move-button{
      background-color: transparent;
      border: 3px solid white;
      width: 110px;
      height: 110px;
      border-radius: 60px;
      margin-right: 10px;
      cursor: pointer;
    }

    .result{
      font-size: 25px;
      font-weight: bold;
      margin-top: 50px;
    }

    .score{
      margin-top: 60px;
    }

    .reset-score-button,
    .auto-play-button {
      background-color: white;
      border: none;
      font-size: 15px;
      padding: 8px 15px;
      cursor: pointer;
    }
}